@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #a855f7;
  --primary-opacity: #a955f74f;
  --secondary-color: #facc15;
  --background-color: #0f1216;
  --main-color: #2423233c;
  --text-color: #f8fafc;
  --p-color: #6a7282;
}

* {
  font-family: "Poppins", sans-serif;
}
